.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 2px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  border: 2px solid white;
  background-color: #ccc;
}

.Invalid {
  border: 2px solid rgb(148, 17, 17);
  background-color: rgb(202, 115, 106);
  color: rgb(148, 17, 17);
}

.Invalid::placeholder {
  color: rgb(145, 87, 80);
}

.ValidationError {
  color: rgb(210 73 59);
  margin: 6px 0 0 0;
}
